.navbar{
    height: 4rem;
    width: 100vw;
    background-color:rgb(0, 255, 255);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.logo h1{
    font-size: 3rem;
    color: black;
}
.logo h1 span{
    color:rgba(30, 0, 255, 0.904);
}
.logo h1:hover{
    cursor: pointer;
}
.listItems{
    display: flex;
    color: black;
}
.list{
    margin: 1rem;
    font-size: 1.5rem;
}
.list:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(8, 0, 255);
}
.btn{
    height:2rem;
    width: 8vw;
    border: none;
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 2rem;
    font-size: 1rem;
}
.btn:hover{
    background-color:rgba(0, 60, 255, 0.879);
    cursor: pointer;
    text-decoration: underline;
}
.active{
    color:rgb(255, 0, 0)
}